<div style="float:left">
<ol>
<%@count.each do |organization|%>
  <li><%=organization%></li>
<%end%>
</ol>
</div>
<div style="float:left">
<ol>
<%@ranks.each do |rank|%>
  <li><%=rank%></li>
<%end%>
</ol>
</div>